.root {
  background-color: rgb(255, 255, 255);
  position: absolute; /* Change to fixed for a sticky footer */ /* Stick to the bottom of the viewport */
  width: 100%;
  height: 50px; /* Adjust height as needed */ /* Add padding for spacing */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0px;
  right: 0px;
}
.logo {
  text-align: center;
  width: 100px;
  height: 40px;
  padding-left: 10px;
}
